/* Custom CSS for thanks.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c66a4;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #304b82;
  }
  